// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "plugins/mobile-menu";
@import "templates/full-width";

// font
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
}

#content {
    margin-top: 140px;
}

// slider overrides
.metaslider .flexslider .caption-wrap {
  top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	text-align: center;
	line-height: 1;
}

.metaslider .flexslider .caption-wrap .caption {
  padding: 0;
	position: absolute;
	bottom: 50%;
	left: 50%;
	white-space: nowrap;
	-webkit-transform: translate3D(-50%, 50%, 0);
	-moz-transform: translate3D(-50%, 50%, 0);
	-ms-transform: translate3D(-50%, 50%, 0);
	-o-transform: translate3D(-50%, 50%, 0);
	transform: translate3D(-50%, 50%, 0);

  h1 {
    font-size: 30px;
    margin: 15px 0;
  }

    h2 {
      font-size: 14px;
    }
}

/* Dark background stuff */
.bg-dark {

}

// back to top stuff
.button-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    background: #145474;
    color: #fff;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .18s ease;
}

.button-top-visible {
    opacity: 1;
    pointer-events: auto;
}
